#board{
    display: grid;
    grid-template-columns: repeat(7,14%);
    grid-template-rows: repeat(6,80px);
    background-color: black;
}

.cell{
    border: 5px solid black;
    background-color: white;
    border-radius: 50%;
    outline: 1px solid black;
}

.cell:hover{
   background-color: grey;
}



